html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(171, 147, 151);
    background-repeat: space;
    background-size: cover;
    border-radius: 4px;
    text-align: center;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    color: #4e1c4e;
    background-color: rgb(254, 222, 227);
}

div#splash {
}

div#container {
}

main, #health, #health-box { /* Hidden by splash screen. */
    /* display: none; */
    /* display: block */
}

#container { /* For specifically just the container. */
    background-color: pink;
    border: 1px dashed magenta;
    border-radius: 10px;
    margin: 0 auto; /* Centers everything inside the container, needs to be used with a width value. */
    max-width: 60em; /* So that gameplay screen doesn't take up entire width. */
    text-align: center;
    
    display: grid;
    grid-gap: 0em; /* Margin between grid areas */
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:    "top"
                            "game"
                            "bottom";
}

aside#top {
    grid-area: top;
    position: relative;
    text-align: center;

    /* Vertically center children. */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#health-box {
    background-color: white;
    border: 1px solid #265B5F;
    border-radius: 3px;
    height: 20px;
    margin: 0 auto; /* Centers everything but has to be used with a width value. */
    width: 100px;
}

div#health {
    background-color: #42f59e;
    border-radius: 3px 0px 0px 3px;
    height: 20px;
    margin-left: 0;
    width: 50px; /* Health starts off at 50%. */
}

canvas#game {
    background-color: #222;
    background-image: url('./img/cyberpunk-street.png');
    background-position: left;
    background-size: cover;
    height: 500px;
    border: 2px solid black;
    width: 700px; /* Having trouble having it fit inside of my container. How do I have everything line up and what does each line of CSS due to each item? */
    grid-area: game;
}

div#instructions {
    font-family: 'Saira Semi Condensed', sans-serif;
}

div.result { 
    font-family: 'Saira Semi Condensed', sans-serif;
}

aside#bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: bottom;
    align-items: center;
}

button {
    color: #4e1c4e;
    border-radius: 5px;
    font-family: 'Bungee Shade', cursive;
    margin: 10px;
}

div.result {
    background-color: pink;
    border-radius: 5px;
    display: none; /* Change to 'block' to show. */
    left: 33%; /* We use left because of our absolute position. */
    position: absolute;
    top: 45%; 
    width: 33%;
}
