body {
    background-color: blue;
    align: center;
}

#container {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas:    "top"
                            "game"
                            "bottom";
}

#game {
    grid-area: game;
    border: 2px solid black;
}

#top {
    grid-area: top;
    border: 2px solid black;
}

#bottom { 
    grid-area: bottom;
    border: 2px solid black;
}
